@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Bitcount+Prop+Single:wght@100..900&display=swap');
@font-face {
    font-family: 'myFont';
    src: url('../fonts/bpg_nino_mtavruli_bold.ttf') format('trueType');
}
@font-face {
    font-family: 'myFont2';
    src: url('../fonts/bpg_ninffo_mtavruli_bold.ttf') format('trueType');
}
/* h1{
    font-family: 'myFont',sans-serif;
}
h2{
    font-family: 'myFont2', Arial, Helvetica, sans-serif;
} */

.andika-bold {
  font-family: "Andika", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.styled__font{
    font-size: 60px;
    color: red;
    text-transform: capitalize;
    text-decoration: overline;
    text-align: center;
    background-color: gray;
    display: inline;
}

span{
    margin: 20px;
    padding: 20px;
    width: 200px;
    height: 500px;
    background-color: green;
    display: none;
}
table, th, tr, td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 15px;
}

/* comment */